$green: rgb(65, 235, 35);
$lightgreen : rgb(140, 201, 129);

$offWhite: #E0E5EC;
$darkShadow: #A3B1C6;
$lightShadow: #FFFFFF;
$neuro: -3px -3px 10px $lightShadow,4px 4px 10px $darkShadow;

$blue: rgb(64, 185, 255);
$red: rgb(255, 129, 129)