@import '../modules/variables.scss';


.contactCont
{
    width: 100%;

    
    div
    {
        margin: 4em auto;

        width: 40%;
        height: 500px;
        min-width: 360px;
        max-width: 450px;

        padding: 0 !important;

        box-shadow: -3px -3px 8px rgb(219, 219, 219), 3px 3px 5px rgb(121, 121, 121);
        border-radius: 14px;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;

        input
        {
            height: 10%;
            font-size: 1.1rem;
            padding: .2em 1em;

            border: none;
            border-bottom: solid rgba(126, 126, 126, 0.377) 1px;
            outline: none;
        }

        button
        {
             height: 10%;
             font-size: 1.3rem;   
             padding: .2em 1em;
            
             background-color: $lightgreen;
             color: white;
             
             border:none;
             outline: none;
        }

        textarea
        {
            height: 70%;
            font-family: 'Open Sans',sans-serif;
            font-size: 1rem;
            padding: 1em 1.2em;

            border: none;
            border-bottom: solid rgba(126, 126, 126, 0.377) 1px;
            outline: none;
        }
    }



}