@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*
{
    box-sizing: border-box;
    padding: 1px;
    outline: none;
}
p
{
    line-height: 1.5;
}

body
{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: rgb(83, 83, 83);

    position: relative;
    
    & > div
    {
        width: 100%;
        max-width: 1600px;
        margin: auto;

        z-index: 1;
    }
}

@import './pages/home.scss';
@import './pages/login.scss';
@import './pages/contact.scss';
@import './pages/about.scss';
@import './pages/displayBlog.scss';
@import './pages/editProfile.scss';
@import './pages/form.scss';
@import './pages/dashboard.scss';


/* -----------Loading GIF------------*/

#load
{
    display: none;
}

.noNone
{
    display: block !important;
    margin: auto !important;
}

.noModal
{
    display: none;
}

.modal
{
    display: block !important;
    justify-content: space-evenly;
    position: absolute;
    top: 0px;
    left:0px;
    z-index: 5;
    width: 100%;
    height: 100%;

    background-color: rgba(128, 128, 128, 0.274);

    img
    {
        display: block;
        max-width: 180px;
        margin-top: 13em;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        object-position: center;
    }
}